.gas-text-input {
  text-align: center;
  font-size: 4em;  
  border: 0;
  line-height: initial;
  font-weight: normal;
  width: auto;
  color: #6c757d;
  outline: none;  
}

.gas-text-input:focus {
  border: 0;
}

.gas-text-input::placeholder {
  color: #6c757d63  ;
}

.gas-small-label {
  font-size: 0.8em;
  text-align: center;
}

div {
  line-height: initial;
  padding: 0;
  margin: 0;
}