<div class="card">

  <div class="text-center">
    <div class="costs">
      <div>
        <label class="eth">ETH#</label>
        <label class="eth-costs-label">{{ costsInEth | commaSepNum }}</label>
      </div>      
      <label class="fiat-costs-label" *ngIf="costsInFiat > 0" >{{ currency }}{{ costsInFiat | commaSepNum }}</label>
    </div>

    <label class="widget-label">{{ widgetLabel }}</label>
    <label class="costs-per-gwei-label">costs {{ costPerGwei | commaSepNum }} ETH per Gwei</label>    
  </div>

</div>
