.costs {
  border-bottom: 1px solid #f3f3f3;
}

.eth-costs-label {
  line-height: initial;
  font-size: 3em;
  font-weight: bold;
  padding-left: 0.1em;
}

.widget-label {
  font-size: 1.5em;
  font-weight: bold;
}

.eth {
  position: absolute;
  top: -0.8em;
}

.fiat-costs-label {
  display: block;
  line-height: 0;
  margin-bottom: 1.5em;
}

.costs-per-gwei-label {
  display: block;
  line-height: 0;
  margin: 0;
}

.card2 {
  /* margin: 2em 0; */
  padding-bottom: 2em;
  margin-bottom: 3em;
}

@media (max-width: 376px) {
  .card2 {
    border-bottom: 1px solid #f3f3f3;
  }
}
