.costs {
  border-bottom: 1px solid #f3f3f3;
}

.eth-costs-label {
  line-height: initial;
  font-size: 3em;
  font-weight: bold;
  padding-left: 0.1em;
}

.widget-label {
  font-size: 1.5em;
  font-weight: bold;
}

.eth {
  position: absolute;
  top: -0.8em;
}

.fiat-costs-label {
  display: block;
  line-height: 0;
  margin-bottom: 1.5em;
}

.costs-per-gwei-label {
  display: block;
  line-height: 0;
  margin: 0;
}

.card {
  padding-bottom: 2em;
  margin-bottom: 3em;
  border-radius: 5px;
  border: solid 1px #eceeef;
  margin: 5px;
}

.card-title {  
  padding: 1em;
  background-color: #eceeef;  
  margin: 0;
}

.card-body {  
  background-color: #ffffff;  
  padding: 1em;
  margin: 0;
}

.speed {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #b7bbbd;    
  margin-top: 1em;
  margin-bottom: 0;
}

.gwei-price {
  font-size: 24px;
  text-align: center;
  color: #535353;
}

.bg-green {
  background-color: #d4eddb;
  padding: 0.5em;
}

.sub-title {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
  color: #535353;  
  font-weight: lighter;
}

@media (max-width: 376px) {
  .card2 {
    border-bottom: 1px solid #f3f3f3;
  }
}
