.price {
  font-size: 1em;
  font-weight: normal;
  padding: 0 20px;
}

.coin-prices-container {
  /* border-top: 1px solid #53535312; */
  /* border-bottom: 1px solid #53535312; */
  padding: 2em 0;
  display: inline-block;
}
