<app-header>
</app-header>

<!-- Main container -->
<main class="main-content">

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Main section
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section class="section" id="section-main">

    <div class="container">

      <div class="flash-message-container clearfix" *ngIf="displayFlashMessage">
        <i class="fa fa-times close-icon float-right" (click)="hideFlashMessage()"></i>
        <div class="flash-message-text float-left">
          Don't pay too much Gas! CanStation helps you save ether by recommending gas prices according to your needs.
        </div>
      </div>

      <div class="text-center">
        <div class="title">Gas Limit
          <i class="fa fa-question-circle help-icon" 
            title="Maximum gas amount to run a transaction" 
            (click)="openHelpDlg()"></i>
        </div>
        <app-gas-input (gasChange)="setGasInGwei($event)"></app-gas-input>
      </div>

      <div class="estimates text-center">
        <div class="title">Gas Price
          <i class="fa fa-question-circle help-icon" 
            title="The recommended Gas Price is measured in Gwei, a unit of measurement for ether. Gas Price determines how quickly your transaction is processed on the ethereum network. This is because miners prioritise transactions by highest gas price, enabling you to save gas if your transaction isn't time sensitive."
            (click)="openHelpDlg()"></i>
        </div>
        <div class="row no-gutters">
          <div class="col col-12 col-sm-4" *ngIf="estimates.Safelow">
            <app-gas-costs 
              [costPerGwei]="estimates.Safelow.avgCostPerGwei" 
              [widgetLabel]="estimates.Safelow.label" 
              [gasInGwei]="getGasInGwei()" 
              [coinPrices]="coinPrices"
              [currency]="currency"></app-gas-costs>
          </div>

          <div class="col col-12 col-sm-4" *ngIf="estimates.Standard">
            <app-gas-costs 
              [costPerGwei]="estimates.Standard.avgCostPerGwei" 
              [widgetLabel]="estimates.Standard.label" 
              [gasInGwei]="getGasInGwei()" 
              [coinPrices]="coinPrices"
              [currency]="currency"></app-gas-costs>
          </div>

          <div class="col col-12 col-sm-4" *ngIf="estimates.Fast">
            <app-gas-costs 
              [costPerGwei]="estimates.Fast.avgCostPerGwei" 
              [widgetLabel]="estimates.Fast.label" 
              [gasInGwei]="getGasInGwei()" 
              [coinPrices]="coinPrices"
              [currency]="currency"></app-gas-costs>
          </div>
    
        </div>
      </div>

      <!-- <div class="coin-prices">
        <app-coin-prices [coinPrices]="coinPrices" [currency]="currency"></app-coin-prices>
      </div> -->

      <div class="text-center">
        <label class="discimilar">* Data provided by ethgasstation.info based on average 100 transactions from the lastest blocks mined by the network.</label>
      </div>

      <div class="charts">
        <app-gas-costs-vs-wait-time-chart></app-gas-costs-vs-wait-time-chart>
      </div>

      <!-- <div class="charts">
        <app-gas-costs-estimates-over-time-chart [estimates]="estimates"></app-gas-costs-estimates-over-time-chart>
      </div> -->

    </div>

    <div class="bancor-wc">
      <div id="bancor-wc"></div>
    </div>
    
    <div class="container-fluid canAppDiv animatedParent" style=" padding-left: 15%;padding-right: 15%;padding-top: 15px;padding-bottom: 15px;">          
      <div id="canyaCard" class="animated fadeInUpShort"></div>
    </div>

  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Subscribe
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section class="section shadow-1" style="background-image: linear-gradient(122deg, #3cf, #01fecd);">
    <div class="container text-center">

      <div class="row mt-20 align-items-center">
        <div class="col-12 text-center">
          <img src="assets/img/telegram.png" alt="CanYa - telegram" width="auto" height="100px">
          <h4 class="text-white pt-25">Got another question? Ask our active community on Telegram.</h4>
          <br>
          <a href="https://t.me/CanYaCommunity" target="_blank" class="btn btn-lg btn-primary shadow-3">
            Join us on Telegram</a>
        </div>
      </div>

    </div>
  </section>

</main>
<!-- END Main container -->
